body {
    margin: 0;
}



.highest-container{
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    align-items: center;
}

.background-container-1{
    flex: 2 1 0;
    position: relative;
    height: 50vh;
    width: 55vw;
    border: 10px solid rgb(159, 5, 5);
    border-radius: 20px;
    background-color: rgb(213, 15, 15);

    align-items: center;
    justify-content: center;
    z-index: 1;

}

.dex-bulb-1{
    position: absolute;
    height: 2rem;
    width: 2rem;
    border-radius: 50px;
    background-color: rgb(56, 104, 216);
}

.dex-bulb-2{
    position: absolute;
    height: 1rem;
    width: 1rem;
    margin-left: 35px;
    border-radius: 50px;
    background-color: rgb(67, 150, 58);
}


.dex-screen-1{
    position: absolute;
    height: 80%;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    padding: 15px;

    display: flex;
    flex-direction: column;

    z-index: 1;
}



.dex-screen-2{
    position: absolute;
    height: 80%;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.dex-screen-3{
    position: absolute;
    height: 80%;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.dex-screen-nav{
    display: flex;
    justify-content: space-around;

}

.dex-screen-nav span{
    background-color: black;
    width: .5rem;
    height: 3rem;
}

#pc-form{
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;


}

#pc-form label{
    font-weight:bolder;

}

.dex-nav-link-container{
    height: 2.5rem;
    width: 6rem;
    border: 1px solid black;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, #ff0000 50%, #ffffff 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dex-nav-link-container button{
    height: 1.5rem;
    width: 4.5rem;
    text-align: center;
    background-color: white;

}

#pokedex-form{
    display: flex;
    justify-content: center;
}

#search{
    flex: 5 1 0;
    margin: 20px;
    width: 80%;
    height: 2rem;
    font-size: 14px;
    text-align: center;
}



.container{
    display: flex;
    flex-direction: column;
    align-items: safe center; /* Change from 'center' to 'safe center' */
    flex: 95 1 0;
    width: 100%;
    overflow: auto;
}

.poke-img-box{
    padding: -2rem;
    margin: 0;
}

.poke-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 251, 227, 0.663);
    width: 90%;
    border: 2px solid rgb(53, 52, 52);
    border-radius: 10px;
    gap: 1px;
    padding-bottom: 10px;

}

.poke-card button{
    background-color: white;
}   

.poke-card p{
    font-size: 12px;
}

.poke-card button{
    font-size: 10px;
    height: 16px;

}

.poke-sprite-container{
    height: 6rem;
    width: 6rem;
}

.poke-sprite{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.poke-info-box{
    padding: 0 30px 5px;
}

.background-container-2{
    flex: 2 1 0;
    height: 40vh;
    width: 70vw;
    background-color: rgb(50, 157, 50);
    border: 20px solid rgb(33, 33, 33);


}

.keyboard-img{
    flex: 1 1 0;

    background-color: rgb(0, 0, 0);
}
